// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

/* 让图片严格被“格子”裁切，不跑到文字上 */
.wide-hero .wow-hero-media {
  overflow: hidden;
}

/* 让图片宽度100% 填满自己的格子，高度自适应 */
.wide-hero .wow-hero-media img {
  width: 100%;
  height: auto;
  object-fit: cover; /* 保持比例并裁切多余部分 */
}

